body {
  line-height: 1.3125;
}

.retweetStatus {
  font: 13px 'Segoe UI';
  font-weight: 400;
  color: rgb(101, 119, 134);
  box-sizing: border-box;
  display: inline;
  float: none;
  position: static;
  z-index: auto;
}

.name {
  font: 15px 'Segoe UI';
  font-weight: 700;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline;
  float: none;
  position: static;
  z-index: auto;
}

.screenName {
  font: 15px 'Segoe UI';
  font-weight: 400;
  color: rgb(101, 119, 134);
  box-sizing: border-box;
  display: inline;
  float: none;
  position: static;
  z-index: auto;
}

.text {
  font: 15px 'Segoe UI';
  font-weight: 400;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline;
  float: none;
  position: static;
  z-index: auto;
}
